---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinekdInIcon from '../components/icons/LinkedIn.astro'
import GithubIcon from '../components/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import UserIcon from '../components/icons/User.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ProjectsContainer from '../components/ProjectsContainer.astro';
import ProjectsItem from '../components/ProjectsItem.astro';
import CSharpIcon from '../components/icons/CSharp.astro';
import SQLServerIcon from '../components/icons/SQLServer.astro';
import NextIcon from '../components/icons/Next.astro';
import TailwindIcon from '../components/icons/Tailwind.astro';
import AstroIcon from '../components/icons/AstroI.astro';
import CodeIcon from '../components/icons/Code.astro';
import JavaScriptIcon from '../components/icons/JavaScript.astro';

const tags = [
    {
        name: "C#",
        icon: CSharpIcon,
		level: "Avanzado"
    },
    {
        name: "Sql Server",
        icon: SQLServerIcon,
		level: "Avanzado"
    },
	{
        name: "JavaScript",
        icon: JavaScriptIcon,
		level: "Avanzado"
    },
    {
        name: "Next Js",
        icon: NextIcon,
		level: "Intermedio"
    },
    {
        name: "Tailwind CSS",
        icon: TailwindIcon,
		level: "Intermedio"
    },
	{
        name: "Astro",
        icon: AstroIcon,
		level: "Básico"
    },
]

const techProject1 = tags.filter(tag => tag.name !== "Astro" && tag.name !== "JavaScript")

---

<Layout 
	title="Portfolio de Gino Carabelli García - Programador Junior Full Stack Developer"
	description='Contrata a Gino para crear tus aplicaciones web mediante el Desarrollo de Software.'
>
	<main>
		<SectionContainer class="px-6 lg:px-0 py-18 lg:py-24 pb-14" id="home">
			<div class="flex w-full justify-center lg:justify-start">
				<img src="/profile-dark.png" alt="Gino Carabelli" class="w-[200px] lg:w-[100px] pb-5">
			</div>
			<h1 class="text-white text-5xl font-bold flex flex-col lg:flex-row text-center lg:justify-start pb-10 gap-5">Soy Gino Carabelli <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div></h1>
			<h2 class="text-md lg:text-2xl text-pretty text-white">
				<span class="opacity-90">+1 año de experiencia.</span> <span class="text-orange-300 opacity-100">Full Stack Developer</span>
				<span class="opacity-90">y Estudiante de Programación. De Córdoba, Argentina. Apasionado en Aplicaciones Web e Innovaciones Tecnológicas.</span>
			</h2>

			<nav class="flex flex-wrap gap-2 lg:gap-x-4 mt-6 lg:justify-start justify-center">
				<SocialPill href="https://www.linkedin.com/in/gino-carabelli-garc%C3%ADa-726726247/">
					<LinekdInIcon class="size-4 lg:size-6 text-white"/>
					<span class="text-sm lg:text-lg text-white">LinkedIn</span>
				</SocialPill>
				<SocialPill href="https://github.com/ginocarabelli">
					<GithubIcon class="size-4 lg:size-6 text-white"/>
					<span class="text-sm lg:text-lg text-white">Github</span>
				</SocialPill>
				<SocialPill>
					<MailIcon class="size-4 lg:size-6"/>
					<span class="text-sm lg:text-lg text-white">ginocarabellimd@gmail.com</span>
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="about" class="pt-10 px-6 lg:px-0 pb-14">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center text-white">
				<UserIcon class="size-12"/>
				Sobre mí
			</h2>
			<p class="text-md lg:text-xl text-pretty text-white">
				<span class="opacity-90">Tengo 19 años, soy estudiante de la </span><span class="text-blue-300">Tecnicatura Superior en Programación</span>
				<span class="opacity-90">en la <span class="text-blue-300">UTN FRC</span>, me dedico al voleibol de forma semi-profesional y trabajo
				como editor de video de forma freelance hace mas de 2 años. Me apasiona desarrollar</span>
				<span class="text-orange-300">Soluciones Tecnológicas </span><span class="opacity-90">que aporten valor a la sociedad y trabajar
				en equipo buscando lograr siempre un ambiente de trabajo cómodo, sano y seguro. Actualmente cuento sin
				experiencia laboral por lo tanto mediante mis proyectos personales adquiero las habilidades
				técnicas que son tendencia hoy en día en el mercado laboral.</span>
				
				
			</p>
		</SectionContainer>
		<SectionContainer id="hardSkills" class="pt-10 px-6 lg:px-0 pb-14">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center text-white">
				<CodeIcon class="size-12"/>
				Habilidades
			</h2>
			<ul class="w-full justify-center flex flex-wrap gap-10 overflow-x-auto">
				{
					tags.map(tag => (
						
						<li class="flex flex-col gap-y-3 justify-center items-center">
							<tag.icon class="size-12"/>
							<p class="text-sm lg:text-lg text-white">{tag.name}</p>
							<p class={`
								${tag.level === "Avanzado" 
									? "bg-red-800 text-red-300" 
									: tag.level === "Intermedio" 
									? "bg-yellow-800 text-yellow-300" 
									: "bg-green-800 text-green-300"
								} 
								text-xs lg:text-sm font-medium mx-auto px-2.5 py-0.5 rounded-sm
							`}>
								{tag.level}
							</p>
						</li>
					))
				}
			</ul>
		</SectionContainer>
		<SectionContainer id="projects" class="pt-10 px-6 lg:px-0 pb-14">
			<ProjectsContainer>
				<ul class="flex flex-col gap-y-5">
					<ProjectsItem
					tags={techProject1}
					title="TJournal"
					description="Una aplicación web CRUD que permite registrar en una base de datos trades y cuentas de manera remota"
					src="/tjournal.png"
					href="https://github.com/ginocarabelli/TJournal/"
					/>
					<ProjectsItem
					tags={techProject1}
					title="Auth Login System"
					description="Sistema de autenticación con Nexth Auth y conexión a base de datos SQL, verificación de formularios con Zod, etc."
					src="/auth-login-system.png"
					href="https://github.com/ginocarabelli/AuthLoginSystem/"
					/>
				</ul>
			</ProjectsContainer>
		</SectionContainer>
	</main>
</Layout>
