<header class="flex justify-center items-center my-3 py-3 mx-auto">
    <nav class="flex gap-x-10 opacity-95">
        <a href="#about" class="hover:scale-110 transition text-white">Sobre Mí</a>
        <a href="#hardSkills" class="hover:scale-110 transition text-white">Habilidades</a>
        <a href="#projects" class="hover:scale-110 transition text-white">Proyectos</a>
    </nav>
</header>