---
import Briefcase from "./icons/Briefcase.astro";
---

<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
    <Briefcase class="size-12"/>
    Proyectos
</h2>
<nav class="w-full flex flex-col h-auto">
    <slot/>
</nav>